</div>

<div class="footer">
    <p class="footer-text">© 2021 Copyright: <a href="https://github.com/anurag-pratik" target="_blank">Anurag
            Pratik</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/index.js">  </script>
</body>

</html>